# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserdatad
*.xcuserstate
*.xcscmblueprint

# Xcode-Projekt-Spezifische User-Dateien
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Logs
*.log

# Environment-/Secret-Dateien
.env*

# Gemfile lock (Bundler)
Gemfile.lock 